<h3>{{ header }}</h3>
<div *ngFor="let classJob of (classJobList$ | async)">
    {{ classJob.level }} -- {{ classJob.jobName | titlecase }}
    <div class="progress" style="height: 15px;">
      <div
        class="progress-bar bg-fc-purple"
        role="progressbar"
        [style.width]="classJob.levelProgress + '%'"
        attr.aria-valuenow="({{ classJob.expLevel }}"
        attr.aria-valuemax="{{ classJob.expLevelMax }}"
      >
        {{classJob.expLevel}}/{{classJob.expLevelMax}}
      </div>
    </div>
  </div>
