<div *ngIf="character$ | async as character; else loading">
<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="characterImg">
      <img [src]="character.portrait"
        style="max-height: 375px;">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-tab-group>
          <mat-tab label="One">
            <div class="class-job-data">
              <mat-grid-list cols="2">
                <mat-grid-tile>
                  <mat-list class="class-job-column">
                    <comfy-class-job-list [classJobList$]="tankClassJobs$" [header]="'Tanks'"></comfy-class-job-list>
                    <mat-divider mat-line></mat-divider>
                    <comfy-class-job-list [classJobList$]="healerClassJobs$" [header]="'Healers'"></comfy-class-job-list>
                  </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                  <comfy-class-job-list [classJobList$]="rangedPhysClassJobs$" [header]="'Ranged Phys'"></comfy-class-job-list>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-tab>
          <mat-tab label="Two">
            <h1>Some more tab content</h1>
            <p>...</p>
          </mat-tab>
        </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>


</div>
<ng-template #loading>
  <mat-spinner diameter="50"></mat-spinner>Loading character data...
</ng-template>
