<div *ngIf="character$ | async as character; else loading">
  <mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
      <mat-card>
        <img
          [src]="character.portrait"
          style="max-height: 300px"
        >
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list style="width: 100%;">
        <mat-list-item *ngFor="let classJob of tankClassJobs | async">
          <p matLine>{{ classJob.jobId }} -- {{ classJob.level }}</p>
          <mat-progress-bar
            [value]="(classJob.expLevel/classJob.expLevelMax)*100"
            color="accent"
            matLine>
        </mat-progress-bar>
          <comfy-class-job></comfy-class-job>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #loading>
  <mat-spinner diameter="50"></mat-spinner>Loading character data...
</ng-template>
