@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bg-fc-green {
  background-color: #81ae16;
}

.bg-fc-purple {
  background-color: #aa6be7;
}

.btn-outline-purple {
  color: #aa6be7;
  background-color: transparent;
  background-image: none;
  border-color: #aa6be7;
  &:hover {
    color: white;
    background-color: #aa6be7;
  }
}

.btn-purple {
  color: #fff !important;
  background-color: #aa6be7;
  border-color: #aa6be7;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: auto !important;
}

// .bootstrap-datetimepicker-widget {
//   top: 100% !important;
// }
